*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
	background-image:url();
	background-repeat: no-repeat;
	background-size:cover;
}

/* 頂部樣式 */
header{
    width: 1200px;
    height: 170px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
}

.logo{
    width: 120px;
    height: 170px;
    float: left;
    text-align: center;
    background-color: rgba(0,0,0,0);
}

.title{
    width: 850px;
    height: 170px;
    float: left;
    margin: 0 10px;
    text-align: center;
    background-color: rgba(0,0,0,0);
}

.languange{
    width: 200px;
    height: 170px;
    float: left;
    margin-left: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0);
}
/* 菜單樣式 */
.menu{
    width: 1200px;
    height: 50px;
    margin: 15px auto;
    background-color: rgba(0,0,0,0);
}

.music{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    float: left;
}

.news{
    width: 600px;   
    height: 50px;
    margin: 0 200px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    float: left;
}

.media{
    width: 150px;  
    height: 50px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    float: left;
}

/* 內容區域 */
.box{
    width: 1200px;   
    min-height: 850px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
}
/* 左側*/
.boxleft{
    width: 800px;    
    min-height: 850px;   
    float: left;
    margin: 0 20px;
    background-color: rgba(0,0,0,0);
}

.image{
    width: 780px;   
    min-height: 400px;  
    float: left;
    margin: 10px;
    background-color: rgba(0,0,0,0);
}

.content{
    width: 780px;　　　
    min-height: 400px;　　
    float: left;
    margin: 10px;
    background-color: rgba(0,0,0,0);
}

/* 右側 */
.boxright{
    width: 250px;  
    height: 850px; 
    float: left;
    background-color: rgba(0,0,0,0);
}

.advertising{
    width: 180px;    
    height: 67px; 
    float: left;
    margin: 10px;  
    background-color: rgba(0,0,0,0);
}
