@charset "utf-8";
/* CSS Document */
.img {  
                display: block;
                width:150px;
	            height: 150px;
                overflow: hidden;
            }
              
            .img img {  
                width:150px;
	            height: 150px; 
                transform: scale(1);  
                transition: all 1s ease 0s;
            }  
            
            .img:hover img {  
                transform: scale(1.2);
                transition: all 1s ease 0s;
            }  